@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
}


.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.left-side{
    position: absolute;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: #0da1dc;
    z-index: -1;
}

.right-side{
    position: absolute;
    right: 0;
    width: 40%;
    text-align: center;

}

.dt{
    padding-top: 50px;
    margin: auto;
    color: white;
    z-index: 1000;
    font-family: lemon;
    font-weight: 200;
}

#time{
    font-size: 10em;
    padding-left: 5%;
    padding-top: 25%;
}

#date{
    font-size: 2.5em;
    padding-left: 5%;
    margin-top: -8%;
}

.login{
    font-family: lemon;
    font-weight: 200;
    font-size: 5em;
    margin: auto;
    padding: auto;
    padding-top: 10%;
    color: #1e7ca0;
}

.txt{
    padding-top: 17%;
    font-size: 1.2em;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #196280;;
}

label{
    display: block;
    margin-top: -10%;
    margin-left: -45%;
}

input[type=text]:focus{
    border-color:#1e7ca0; 
}

input{
    font-size: 25px;
    padding: 30px;
    width: 60%;
}

form{
    margin-top:5%;
}

button{
    background-color:  #1e7ca0;
    border: none;
    text-align: center;
    border-radius: 12px;
    font-size: 2em;
    font-family: lemon;
    font-weight: 200;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    color: white;
    margin-top: 13%;
}
button:hover{
    background-color:  #196280;
    cursor: pointer;
}

.error{
    visibility: hidden;
    margin-bottom: -10%;
    font-family: lemon;
    color: #d81919;
    font-size: 1em;
}

.or{
    font-size: 1.5em;
    margin-top: 20px;
    font-family: lemon;
    color: rgba(0, 0, 0, 0.5);
}

.btn2{
    background-color:  #5050503b;
    font-size: 1.3em;
    width: 12%;
    margin-top: 8%;
    margin-left: 70%;
}

.admintxt{
    font-family: lemon;
    font-weight: 300;
    margin: auto;
    padding: auto;
    color: #1e7ca0;
    
}



@font-face {
    font-family: lemon;
    src: url(../fonts/LEMONMILK-Light.otf);
    font-weight: 100;
}
@font-face {
    font-family: lemon;
    src: url(../fonts/LEMONMILK-Regular.otf);
    font-weight: 200;
}
@font-face {
    font-family:lemon ;
    src: url(../fonts/LEMONMILK-Medium.otf);
    font-weight: 300;
}

@font-face {
    font-family: lemon;
    src: url(../fonts/LEMONMILK-Bold.otf);
    font-weight: 400;
}